<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Details</title>
</head>
<body style="margin:15px 15px; padding:0px; display: flex; flex-direction: column; 
justify-content: left; align-items: left;">
  <h1>Product Details</h1>
  <h2>Product Id: <%= product.name %></h2>
  <H4>Product Title: <%= product.title %></H4>
  <H4>Product Status: <%= product.status %></H4>
  <H4>Product External id: <%= product.external_id %></H4>
  <H4>Product handle: <%= product.handle %></H4>
  <H4>Product thumbnail: <%= product.thumbnail %></H4>
  <H4>Product Description: <%= product.description %></H4>
  <H4>Product Width: <%= product.width %></H4>
  <H4>Product Height: <%= product.height %></H4>
  <H4>Product Weight: <%= product.weight %></H4>
  <H4>Product Hs_code: <%= product.hs_code %></H4>
  <H4>Product Origin Country: <%= product.origin_country %></H4>
  <H4>Product Type Id: <%= product.type_id %></H4>
  <H4>Product Material: <%= product.material %></H4>
  <H4>Product Metadata: <%= product.metadata %></H4>



</body>
</html>


